/* CSS file for pydoc - intended to reproduce the original hard-coded values. */

body {background-color:#f0f0f8}

table {
    width: 100%;
    border-spacing: 0;
}


td {vertical-align: bottom;}
td {padding-bottom: 0}


div.main {
    clear:both;
    padding-top:.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.align_right {
    text-align: right;
}

.heading {  /* see HTMLDoc.heading */
    color: white;
    height: 3em;
    font-weight: bold;
    background-color: #7799ee;
    font-size: 1.5em;
}

.normal {font-weight: normal;
         font-size: 0.75em;}

.grey {color:#909090;}

.repr_string {color:#c040c0}  /* see HTMLRepr.repr_string */

.docmodule{ /* see HTMLDoc.docmodule */
    height: 4em;
    background-color: #7799ee;
}

.docmodule_link {  /* see HTMLDoc.docmodule */
    color: white;
    text-decoration: underline;
    font-size: smaller;
}
.docmodule_head {  /* see HTMLDoc.docmodule */
    font-size: 1.5em;
}

.section_title {
    font-size: 1.2em;
    font-weight: bold;
}

.package, .module {
    color: white;
    background-color: #aa55cc;
}

.classes, .index, .builtin_modules, .search, .getfile, .topics, .keywords {
    color: white;
    background-color: #ee77aa;
}

.functions {
    color: white;
    background-color: #eeaa77;
}

.data {
    color: white;
    background-color: #55aa55;
}

.author, .credits {
    color: white;
    background-color: #7799ee;
}

.error {
    color: white;
    background-color: #bb0000;
}

.docclass {
    color: black;
    background-color: #ffc8d8;
    margin-left: 10px;
}

.ka_ping_yee {
    float: right;
    color: #909090;
}
.inner_table {
    width:100%;
    color: black;
    background-color: #f0f0f8;
    padding-bottom: 0;
    font-family: times, serif;
}